<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <title>Learn With Leon Bingo</title>
  </head>
  <body>
    <header>Learn With Leon Bingo</header>
    <main>
      <section class="gutter"><button>Shuffle Board</button></section>
      <section id="board">
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section id="freeSpace"></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section></section>
      </section>
      <section class="gutter">
        <button>Cover All Mode: Off</button>
      </section>
    </main>
    <footer>
      You can see the code for this project at:
      <a href="http://github.com/mightykrakyn/LeonBingo"> here!</a>
    </footer>
    <script src="/js/index.js"></script>
  </body>
</html>
